OVERLEAF_SITE_URL=http://localhost:8080
OVERLEAF_APP_NAME=TeXDock
OVERLEAF_ADMIN_EMAIL=admin@example.com

OVERLEAF_MONGO_URL=mongodb://mongo:27017/sharelatex
MONGO_URL=mongodb://mongo:27017/sharelatex

OVERLEAF_REDIS_HOST=redis
OVERLEAF_REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PORT=6379

OVERLEAF_EMAIL_FROM_ADDRESS=no-reply@example.com
OVERLEAF_EMAIL_REPLY_TO=support@example.com
OVERLEAF_EMAIL_SMTP_HOST=smtp.example.com
OVERLEAF_EMAIL_SMTP_PORT=587
OVERLEAF_EMAIL_SMTP_SECURE=false
OVERLEAF_EMAIL_SMTP_USER=smtp-user
OVERLEAF_EMAIL_SMTP_PASS=smtp-password
OVERLEAF_EMAIL_SMTP_TLS_REJECT_UNAUTH=true

EMAIL_CONFIRMATION_DISABLED=true
ENABLED_LINKED_FILE_TYPES=project_file,project_output_file
ENABLE_CONVERSIONS=true
